.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      %h2.chat-main__header__leftbox__current-group 
        = @group.name
      %ul.member-list
        Member：
        %li.member-first
          - @group.users.each do |user|
            = user.name


    .edit-btn
      = link_to '編集', edit_group_path(@group)


  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-text', placeholder: 'メッセージを入力してください'
        = f.label :image, class: 'input-box_image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit '送信', class: 'submit-btn'