.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      %h2.chat-main__header__leftbox__current-group 
        = @group.name
        %ul.member-list
          Member:
          %li.member-first
            - @group.users.each do |user|
              = user.name


    .edit-btn
      = link_to '編集', edit_group_path(@group)


  .messages
    -# = render @messages
    .message
      .message__upper-info
        %p.message__upper-info__talker 
          = current_user.name
        %p.message__upper-info__date
          = current_user.created_at.strftime("%Y年%m月%d日 %H時%M分")
      %p.message__text 
        = @messages.last


  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box_image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'